
<div id="alert-container" class="@alertContainerState">
    <div class="alert alert-@alertType" role="alert" style="margin-bottom: 0px !important;">
        @alertMessage
    </div>
</div>

<CascadingValue Value="this">
    <div id="content-container">
        @ChildContent
    </div>
</CascadingValue>

@code {
    string alertType = "";
    string alertMessage = "&nbsp;";
    string alertContainerState = "hide";
    bool _isShowing = false;
    bool _isHidden = false;

    [Parameter] 
    public RenderFragment? ChildContent { get; set; }

    public bool IsShowing
    {
        get => _isShowing;
    }

    public bool IsHidden
    {
        get => _isHidden;
    }

    public void Show(string message, string type)
    {
        alertType = type;
        alertMessage = message;
        alertContainerState = "show";
        _isShowing = true;
        _isHidden = false;
        StateHasChanged();
    }

    public void Hide()
    {
        alertType = "";
        alertMessage = " ";
        alertContainerState = "hide";
        _isHidden = true;
        _isShowing = false;
        StateHasChanged();
    }

}
