@inherits LayoutComponentBase

<header class="header">
    <NavMenu />
</header>

<main class="main" role="main">
    <AlertControl>
        <div>
            @Body
        </div>
    </AlertControl>
</main>



