@inherits LayoutComponentBase

<header class="hearder">
    <NavMenu />
</header>


<AlertControl>
    <main role="main" style="left:10%; right:10%;">
        @Body
    </main>
</AlertControl>

<footer class="border-top footer text-muted">
    <div class="container">
        2023 - Crucible File Transfer Service
    </div>
</footer>
